.delete-book-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .form-field {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    text-align: center;
  }
  
  label {
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  